.promotionCard {
  position: relative;
  display: flex;
  padding: 16px;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  img {
    max-width: 100px;
    margin-right: 24px;
  }
}

.promotionCardInfo {
  flex-grow: 1;

  h1 {
    font-size: 16px;
    color: #2c3e50;
    max-width: 550px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span {
    font-size: 24px;
    font-weight: 700;
    color: #3498db;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      background: unset;
      border: unset;
      color: #3498db;
      border-radius: 4px;
      text-decoration: none;
      padding: 8px 10px;
      white-space: nowrap;
      font-size: 14px;
    }

    button {
      background: unset;
      border: 1px solid #3498db;
      color: #3498db;
      border-radius: 4px;
      text-decoration: none;
      padding: 8px 10px;
      margin-right: 10px;
      white-space: nowrap;
  
      &:hover {
        cursor: pointer;
        background: #3498db;
        color: #fff;
        transition: ease-in 0.3s;
      }
    }

    .linkEdit {
      background: unset;
      border: 1px solid #3498db;
      color: #3498db;
      border-radius: 4px;
      text-decoration: none;
      padding: 8px 10px;
      white-space: nowrap;
  
      &:hover {
        cursor: pointer;
        background: #3498db;
        color: #fff;
        transition: ease-in 0.3s;
      }
    }
  }

  .deletedButton {
    position: absolute;
    top: -28px;
    right: 8px;
    border: unset;
    background: unset;
    color: rgb(173, 42, 42);
    font-size: 18px;
  }

  .promotionCardComments {
    max-width: 345px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #95a5a6;
    font-weight: 700;
  }
}